.sidebar ul {
	list-style-type: none;
}
.sidebar ul li {
	font-size: 16px;
    color: black;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
  }

  .sidebar li a {
    padding: 10px 10px;
    text-decoration: none;
    color: #eb8f39;
  }

  .fa-solid {
	margin-top: 10px;
}
